@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Times New Roman', Times, serif;
  }

label {
  font-size: .7rem;
}
img{
  width: 100vh;
  height: 100%;
  margin-left: 0%;
  margin-right: 100%;
}

input.form-control, input.form-control:focus {
  background: #F0F0FF;
}
.navbar{
  background-color: purple;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 0%;
}

.error {
  position: absolute;
  color: red;
  font-size: 15px;
}
.img3 title{
color: white;
}
.nav a{
  color: black;
}
