
.outer1{
    margin-top : 20%;
    margin-bottom: 0%;
    margin-right: 0%;
    font-family: 'Times New Roman', Times, serif;
    
}
.footer3{
    margin-top: 5.5%;
}
.outer1 h1{
    font-size: 35px;
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.inner1 label{
    color: black;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.inner1 ::placeholder {
    font-size: 14px ;

}