
.outer{
    margin-top: 5%;
    margin-left: 13%;
    position: fixed;

    font-family: 'Times New Roman', Times, serif;
    
}
.outer h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
    

}
.inner label{
    color: black;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}
.inner ::placeholder {
    font-size: 16px ;
    color: black;

}
.inner input{
    font-size: 18px;
    color: black;
}
.footer{
    margin-top: 5.5%;
    margin-bottom: 0%;
}
.foot{
    margin-top: 35%;
}
.outer span{
    color: red;
    font-size: 19px;

}